<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!--<add name="programas1" connectionString="Driver={SQL Server};Dsn=programas ;Server=SQL003; Database=HELPUSER; Uid=help; Pwd=;" providerName="System.Data.SqlClient" />-->
	  <add name="programas1" connectionString="Server=190.92.172.185; Database=dwnewsof_helpusers; Uid=dwnewsof_helpuser; Pwd=1N_igrU9K$k0pfpo;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
